In [1]:
import pandas as pd
import datetime as dt

### Review of Python's datetime Module

In [3]:
someday = dt.date(2016,4,12)

In [4]:
someday.year

2016

In [5]:
someday.month

4

In [6]:
someday.day

12

In [7]:
dt.datetime(2010,1,10)

datetime.datetime(2010, 1, 10, 0, 0)

In [9]:
dt.datetime(2010,1,10,8,5,57)

datetime.datetime(2010, 1, 10, 8, 5, 57)

In [12]:
sometime =str(dt.datetime(2010,1,10,17,5,45))

In [15]:
sometime =dt.datetime(2010,1,10,17,5,45)

In [16]:
sometime.second

45

### The Pandas Timestamp Object

In [17]:
pd.Timestamp('2015-03-31')

Timestamp('2015-03-31 00:00:00')

In [18]:
pd.Timestamp('2015/03/31')

Timestamp('2015-03-31 00:00:00')

In [20]:
pd.Timestamp('2021-03-08 6:13:29 PM')

Timestamp('2021-03-08 18:13:29')

In [21]:
pd.Timestamp(dt.date(2015,1,1))

Timestamp('2015-01-01 00:00:00')

In [2]:
dates = ['2016-01-02','2017-05-01','2018-05-05']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2017-05-01', '2018-05-05'], dtype='datetime64[ns]', freq=None)

In [4]:
dates = [dt.date(2016,1,10), dt.date(1994,6,13),dt.date(2003,12,29)]
dtindex=pd.DatetimeIndex(dates)

In [6]:
values = [100,200,300]
pd.Series(data=values,index=dtindex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

### The pd.to_datetime() Method

In [15]:
pd.to_datetime('2001-4-19')
pd.to_datetime(dt.date(2015,1,1))
pd.to_datetime(dt.datetime(2015,1,1,14,35,20))
pd.to_datetime(['2015-01-03','2014/02/08','2016','July 4th, 1996'])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [18]:
times = pd.Series(['2015-01-03','2014/02/08','2016','July 4th, 1996'])

In [19]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [23]:
dates= pd.Series(['July 4th, 1996','10/04/1991','Hello','2015-02-31'])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [25]:
pd.to_datetime(dates, errors = 'coerce')

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

### Create Range of Dates with pd.date_range() Method, Part 1

In [28]:
drange = pd.date_range(start='2016/12/01', end='2016/12/31',freq='D')

In [29]:
drange[0]

Timestamp('2016-12-01 00:00:00', freq='D')

In [30]:
drange[-1]

Timestamp('2016-12-31 00:00:00', freq='D')

In [31]:
pd.date_range(start='2016/12/01', end='2016/12/31',freq='7D')

DatetimeIndex(['2016-12-01', '2016-12-08', '2016-12-15', '2016-12-22',
               '2016-12-29'],
              dtype='datetime64[ns]', freq='7D')

In [33]:
pd.date_range(start='2018/08/01', end='2018/08/31',freq='B')

DatetimeIndex(['2018-08-01', '2018-08-02', '2018-08-03', '2018-08-06',
               '2018-08-07', '2018-08-08', '2018-08-09', '2018-08-10',
               '2018-08-13', '2018-08-14', '2018-08-15', '2018-08-16',
               '2018-08-17', '2018-08-20', '2018-08-21', '2018-08-22',
               '2018-08-23', '2018-08-24', '2018-08-27', '2018-08-28',
               '2018-08-29', '2018-08-30', '2018-08-31'],
              dtype='datetime64[ns]', freq='B')

In [34]:
pd.date_range(start='2018/08/01', end='2018/08/31',freq='W')

DatetimeIndex(['2018-08-05', '2018-08-12', '2018-08-19', '2018-08-26'], dtype='datetime64[ns]', freq='W-SUN')

In [35]:
pd.date_range(start='2018/08/01', end='2018/08/31',freq='W-Wed')

DatetimeIndex(['2018-08-01', '2018-08-08', '2018-08-15', '2018-08-22',
               '2018-08-29'],
              dtype='datetime64[ns]', freq='W-WED')

In [40]:
pd.date_range(start='2018/08/01', end='2018/08/02',freq='H')

DatetimeIndex(['2018-08-01 00:00:00', '2018-08-01 01:00:00',
               '2018-08-01 02:00:00', '2018-08-01 03:00:00',
               '2018-08-01 04:00:00', '2018-08-01 05:00:00',
               '2018-08-01 06:00:00', '2018-08-01 07:00:00',
               '2018-08-01 08:00:00', '2018-08-01 09:00:00',
               '2018-08-01 10:00:00', '2018-08-01 11:00:00',
               '2018-08-01 12:00:00', '2018-08-01 13:00:00',
               '2018-08-01 14:00:00', '2018-08-01 15:00:00',
               '2018-08-01 16:00:00', '2018-08-01 17:00:00',
               '2018-08-01 18:00:00', '2018-08-01 19:00:00',
               '2018-08-01 20:00:00', '2018-08-01 21:00:00',
               '2018-08-01 22:00:00', '2018-08-01 23:00:00',
               '2018-08-02 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [41]:
pd.date_range(start='2018/08/01', end='2018/09/02',freq='M')

DatetimeIndex(['2018-08-31'], dtype='datetime64[ns]', freq='M')

In [42]:
pd.date_range(start='2018/08/01', end='2018/09/02',freq='MS')

DatetimeIndex(['2018-08-01', '2018-09-01'], dtype='datetime64[ns]', freq='MS')

In [45]:
pd.date_range(start='2018/08/01', end='2025/09/02',freq='A')

DatetimeIndex(['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31',
               '2022-12-31', '2023-12-31', '2024-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')


### Create Range of Dates with pd.date_range() Method, Part 2

In [51]:
pd.date_range(start = '2012-09-01',periods = 60, freq = 'B')

DatetimeIndex(['2012-09-03', '2012-09-04', '2012-09-05', '2012-09-06',
               '2012-09-07', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-17', '2012-09-18',
               '2012-09-19', '2012-09-20', '2012-09-21', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-10-01', '2012-10-02', '2012-10-03', '2012-10-04',
               '2012-10-05', '2012-10-08', '2012-10-09', '2012-10-10',
               '2012-10-11', '2012-10-12', '2012-10-15', '2012-10-16',
               '2012-10-17', '2012-10-18', '2012-10-19', '2012-10-22',
               '2012-10-23', '2012-10-24', '2012-10-25', '2012-10-26',
               '2012-10-29', '2012-10-30', '2012-10-31', '2012-11-01',
               '2012-11-02', '2012-11-05', '2012-11-06', '2012-11-07',
               '2012-11-08', '2012-11-09', '2012-11-12', '2012-11-13',
               '2012-11-14', '2012-11-15', '2012-11-16', '2012-11-19',
               '2012-11-20', '2012-11-21', '2012-11-22', '2012-11-23'],
              dtype='datetime64[ns]', freq='B')

In [48]:
len(pd.date_range(start = '2012-09-09',periods = 25, freq = 'D'))

25

### Create Range of Dates with pd.date_range() Method, Part 3

In [53]:
pd.date_range(end='2018-12-31',periods = 120, freq = 'D')

DatetimeIndex(['2018-09-03', '2018-09-04', '2018-09-05', '2018-09-06',
               '2018-09-07', '2018-09-08', '2018-09-09', '2018-09-10',
               '2018-09-11', '2018-09-12',
               ...
               '2018-12-22', '2018-12-23', '2018-12-24', '2018-12-25',
               '2018-12-26', '2018-12-27', '2018-12-28', '2018-12-29',
               '2018-12-30', '2018-12-31'],
              dtype='datetime64[ns]', length=120, freq='D')

### The .dt Accessor

In [57]:
bod = pd.date_range(start = '2000-01-01', end = '2010-12-31', freq = '24D')

In [59]:
s = pd.Series(bod)
s.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [61]:
s.dt.day.head()

0     1
1    25
2    18
3    13
4     6
dtype: int64

In [62]:
s.dt.month.head()

0    1
1    1
2    2
3    3
4    4
dtype: int64

In [64]:
s.dt.weekday_name.head()

0    Saturday
1     Tuesday
2      Friday
3      Monday
4    Thursday
dtype: object

In [66]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [67]:
mask2 = s.dt.is_month_start
s[mask2]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

In [68]:
mask3 = s.dt.is_month_start
s[mask3]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]