In [1]:
import pandas as pd
from pandas_datareader import data

In [12]:
companies = ['MSFT','GOOG','AAPL','YHOO','AMZN']

MSFT = data.DataReader(name='MSFT', data_source='quandl',start = '01/01/2018',end='08/14/2018')

In [14]:
nba = pd.read_csv('nba.csv')

In [15]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [16]:
Boston = nba['Team'] == 'Boston Celtics'

In [17]:
Chicago = nba['Team'] == 'Chicago Bulls'

In [18]:
Phoenix = nba['Team'] == 'Phoenix Suns'

In [19]:
Thunder = nba['Team'] == 'Oklahoma City Thunder'

### The Axes of a Panel Object

In [20]:
data.DataReader(name='Boston',data_source='Boston')

NotImplementedError: data_source='Boston' is not implemented